.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  margin: 2rem auto;
}

.grid-item {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  
}

.centerText {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid red;
  margin-left: 20px;
  margin-right: 20px;
}

.centerImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
